/* t_main.css */

#wrap{
  width:100%; height:auto; overflow: hidden;
}

.visualize-key{display:none;}

/* ================ tab Box 기능 구현 ======================= */
      /* ================ 상단탭 ======================= */
      .board_tab{
        width:100%; height:80px;
      }

        .board_tab ul{
          width:100%; height:100%;
        }

        .board_tab li{
          float:left; width:20%; height:100%;
          font-size:1.8rem; text-align: center;
          line-height:80px;
        }

        .board_tab li.current span{
          display: inline-block;
          line-height: 40px;
          width:120px; height:50px;
          border-radius: 20px;
          border:3px solid #ccc;
        }

        .tab-content{
          display:none;
        }

        .tab-content.current{
          display:inherit;
        }

      #tab_1{
         width:100%; height:570px;
      }

      /* ================ 하단탭_1 ======================= */
  
      .side_tab_box{
        margin-left: 20px;
        width:280px; height:30px;
      }

        .side_tab_box ul{
          width:100%; height:100%;
        }

        .side_tab_box li{
          float:left; width:70px; 
          font-size:1.2rem; line-height: 15px;
        }

        .side_tab_box li.current{
          border-bottom:3px solid #366f9c;
          box-sizing: border-box;
        }

        .side_tab_content{
          display:none;
        }

        .side_tab_content.current{
          display:inherit;
        }

      /* ================ 하단탭_2 ======================= */

      .side_tab_lank_box{
        margin-left: 20px;
        width:280px; height:30px;
      }
          .side_tab_lank_box ul{
            width:100%; height:100%;
          }
  
          .side_tab_lank_box li{
            float:left; width:70px; 
            font-size:1.2rem; line-height: 15px;
          }
  
          .side_tab_lank_box li.current{
            border-bottom:3px solid #366f9c;
            box-sizing: border-box;
          }
  
          .side_tab_content_lank{
            display:none;
          }
  
          .side_tab_content_lank.current{
            display:inherit;
          }

/* ================ //tab Box 기능 구현 ===================== */

/* ====================== #headBox ====================== */
  #headBox{
    position: relative;
    width:100%; height:9vw;
    box-shadow:0 0.5rem 0.5rem #ccc;
    padding:10px 30px; box-sizing: border-box;
  }

    .logo{
      float:left;
      margin:auto;
      height:8vw;
      background-image: url(../../../img/image/main_logo.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 80%;
    }

    .title{
      height:4vw;
      font-weight: bold;
      font-size:1.5rem;
      line-height: 4vw;
    }

    .unb{
      height:4vw;
      text-align: right;
      font-size:1.2rem;
      line-height:2.5vw;
    }

    .mob_icon{display:none;}

    .slideBar{
      height:3vw;
      margin-left: 10px;
      border:2px solid #ccc;
      box-sizing: border-box;
      line-height: 2.5vw;
      font-size:1.3rem;
    }

  .mob_slideBar{display:none;}




/* ====================== #viewBox ====================== */
  #viewBox{
    width:100%; height:44vw;
    padding:30px; box-sizing: border-box;
  }

  /* ============ .deal ============ */
    .deal{
      float:left;
      width:38%; height:100%;
      border:10px solid #f5f6f7;
      box-sizing: border-box;
      
    }

      .deal_txt{

        margin-top: 10vw;
        width:100%; height:50%;
        text-align: center;
      }

        .deal_title{
          font-size:4rem;
          padding-bottom: 10px;
        }

        .deal_story{
          font-size:2rem;
        }

        .deal_btn{
          display:flex; margin:auto;
          width:150px; height:50px;
          background-color: #4a96d2;
          border-radius: 10px;
        }

          .deal_btn > a > span{
            line-height:45px;
            color:#fff; font-size:1.2rem;}

    /* ============ .board ============ */
    .board{
      float:right;
      width:60%; height:100%;
      border:10px solid #f5f6f7; box-sizing: border-box;
    }

      .user_percent{
        width:100%; height:15px;
        background-color: #4A96D2;
      }

      .board_head{
        width:100%; height:100px;
        border-bottom: 2px solid #aaa;
        box-sizing: border-box;
        background: rgba(194, 228, 255, 0.2);
      }

        .class{
          float:left;
          width:160px; height:80px;}
        
          .class p{
            margin:0; padding:0;
            margin-left: 20px;
          }

          .class_t{
            float:left;
            font-size:4rem;
            
          }

          .class_p{
            font-size:1.5rem;
            line-height:110px;
          }

        .class_ex{
          float:left; height:80px;
          font-size:1.5rem;
          margin-top: 20px;
        }

          .class_ex p{
            line-height: 20px;
          }

          .class_ex p span{
            font-weight: bold;
          }

      .graph{
        width:40%; margin:20px auto;
      }

        #data{
          width:80%; height:180px; 
          margin:auto; font-size:1.4rem;
        }

        #data > thead > tr > td, th{
          font-size:1rem; text-align: center;
          background-color: #366f9c;
          color:#fff;
        }

        #data > tbody > tr > td{
          font-size:1.2rem; text-align: right;
        }
        
        .td_1{background-color: #f5f6f7;}

    
  /* ============ .deal_2 : 거래내역 ============ */
    .period_content{
      width:300px; height:50px;
      margin-top: 10px; margin-left: 20px;
      margin-bottom: 10px;
    }

      .period_content ul{width:100%; height:100%;}
      .period_content li{width:100px; height:100%; border-right:1px solid #ccc; box-sizing: border-box;}
      .period_content li:last-child{border-right: 0;}
      .period_content dl{width:100%; height:100%;}
      .period_content dt{width:100%; height:25px; font-size:1rem; border-bottom:1px solid #ccc; box-sizing: border-box;}
      .period_content dd{width:100%; height:25px; font-size:0.9rem;}

    #periodBox{
      width:90%; height:200px;
      margin:auto;
      margin-top: 20px;
    }

      #periodBox {border:2px solid #ccc;}
      #periodBox > thead > tr > th{font-size:0.9rem; font-weight: normal;}
        .p_th_title{width:20%;}
        .p_th_title_1{width:20%;}
        .p_th_title_2{width:10%;}
        .p_th_title_3{width:35%;}
        .p_th_title_4{width:15%;}

      #periodBox > tbody > tr > th{font-size:0.9rem; font-weight: normal;}
      #periodBox > tbody > tr > td{font-size:0.8rem; font-weight: normal; text-align: center;}
      
        .p_tr_bg{background-color:#f5f6f7;}

    .p_indicator{
      width:200px; height:30px;
      margin:auto;
    }

      .pagination li{
        font-size:1rem; line-height: 15px;
      }





  /* ============ .deal_3 : 거래순위 ============ */


        

