/* t_main_notice_content.css */

#wrap{
  width:100%; height:100%;
  background-color: #F8F8F8;
}

h2{font-family:paybooc-B; font-size:12pt;}
.title_line{width:100%; height:3px; background-color: #f5f6f7; margin:20px 0;}

/* =================================== #headBox =================================== */
#headBox{
  width:100%; height:100px;
  padding:20px 0; box-sizing: border-box;
  background-color:#fff;
}

  .div{
    width:1400px; height:100%;
    margin:auto;
  }

  h1{
    float:left;
    width:320px; height:60px;
    font-family: paybooc-B;
    margin-top:0;
  }

    .logo{
      float:left;
      width:120px; height:60px;
      background-image: url(../../../img/image/trade_logo.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    h1 > a > span{
      float:left; 
      font-size:20pt; color:#4A96D2; 
      line-height: 60px; 
    }
/* =================================== #viewBox =================================== */
#viewBox{
  background-color: #fff;
  width:1400px; height:800px;
  margin:auto; margin-top: 30px;
}

  .noticeBox{
    width:100%; height:800px;
    box-shadow:0 0.5rem 1rem #ccc;
    padding:10px 20px; box-sizing: border-box;
  }

  .notice_title{width:100%; height:30px;}

  .back{
    float:left; 
    width:30px; height:30px; margin-right: 10px;
    background-image: url(../../../img/icons/back.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 50%;}

  h2{
    width:300px; height:30px; margin-left: 10px;
    font-size:1.2rem; line-height: 30px;}


  h3{
    font-size:1.1rem; font-weight: 300; width:100%;
    height:30px; border-bottom: 1px solid #ccc;}

  .notice_table{
    width:100%; height:30px;
    border-bottom: 1px solid #ccc;
  }

  .notice_table ul{width:100%; height:100%;}

  .notice_table li{float:left; height:100%;}
  .notice_table li:nth-child(1){width:15%;}
  .notice_table li:nth-child(2){width:15%;}
  .notice_table li:nth-child(3){float:right; width: 70%; text-align: right;}

  .notice_content{
    margin-top: 20px;
    width:100%; height:600px;
    background-color: #f5f6f7;}

/* ============================================================================================ */
/* ================================== 공지사항 반응형(1281~1600) ================================== */
/* ============================================================================================ */

@media screen and (min-width: 1281px) and (max-width: 1600px) {

  #wrap{
    width:100%; height:auto;
  }

  /* =================== #headBox ===================*/

  #headBox{
    height:80px; padding:10px; box-sizing: border-box;}

    .div{
      width:100%; 
    }

    h1{
      float:left;
      width:250px; height:60px;
      font-family: paybooc-B;
      margin-top:0;
    }

      .logo{
        float:left;
        width:80px; height:60px;
        background-image: url(../../../img/image/trade_logo.png);
        background-position: 50% 50%;
        background-size: 90%;
        background-repeat: no-repeat;
      }

      h1 > a >span{
        float:right; 
        font-size:16pt; color:#4A96D2; 
        line-height: 60px; 
      }

   /* =================== #viewBox ===================*/
   #viewBox{width:90%; height:50vw;}
}

/* ============================================================================================ */
/* ================================== 공지사항 반응형(1024~1280) ================================== */
/* ============================================================================================ */

@media screen and (min-width: 1024px) and (max-width: 1280px) {

  #wrap{
    width:100%; height:auto;
  }

  /* =================== #headBox ===================*/

  #headBox{
    height:80px; padding:10px; box-sizing: border-box;}

    .div{
      width:100%; 
    }

    h1{
      float:left;
      width:250px; height:60px;
      font-family: paybooc-B;
      margin-top:0;
    }

      .logo{
        float:left;
        width:80px; height:60px;
        background-image: url(../../../img/image/trade_logo.png);
        background-position: 50% 50%;
        background-size: 90%;
        background-repeat: no-repeat;
      }

      h1 > a >span{
        float:right; 
        font-size:16pt; color:#4A96D2; 
        line-height: 60px; 
      }

  /* =================== #viewBox ===================*/
  #viewBox{ width: 95%; height:54vw;}
  
  
}

/* ======================================================================================== */
/* ================================== 공지사항 반응형(~1024) ================================== */
/* ======================================================================================== */
@media screen and (min-width: 641px) and (max-width: 1024px) {

  #wrap{
    width:100%; height:auto;
  }

  /* =================== #headBox ===================*/
  #headBox{
    width:100%; height:80px;
    margin:auto;
  }

    .div{
      width:100%; 
    } 

    h1{
      float:left;
      width:180px; height:40px;
      font-family: paybooc-B;
      margin:auto;
    }

      .logo{
        float:left;
        width:60px; height:40px;
        background-image: url(../../../img/image/trade_logo.png);
        background-position: 50% 50%;
        background-size: 70%;
        background-repeat: no-repeat;
      }

      h1 > a > span{
        display:inline-block;
        width:120px;
        font-size:12pt; color:#4A96D2; 
        line-height: 40px; 
      }

  /* =================== #viewBox  ===================*/

  #viewBox{ width: 95%; height:54vw;}


}

/* ======================================================================================== */
/* ================================== 공지사항 반응형(~640px) =============================== */
/* ======================================================================================== */
@media screen and (max-width: 640px) {

  #wrap{height:auto;}

  #headBox{
    width:100%; height:56px;
    padding:5px 20px; box-sizing: border-box;
    margin:auto;
  }

    .div{
      width:100%; 
    } 

    #gnb{display:none;}

    h1{
      float:100%;
      width:250px; height:30px; margin:auto;
      font-family: paybooc-B;
    }

      .logo{
        float:left;
        width:50px; height:50px;
        background-image: url(../../../img/image/trade_logo.png);
        background-position: 50% 50%;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      h1 > a > span{
        font-size:12pt; color:#4A96D2; 
        line-height: 50px; margin-left: 10px;
      }

  /* =================== #viewBox  ===================*/

  #viewBox{
    width:100%; height:600px; margin-top: 10px;
  }
  
    .noticeBox{
      width:100%; height:100%;
      box-shadow:0 0.5rem 1rem #ccc;
      padding:10px 20px; box-sizing: border-box;
      overflow-y:scroll; overflow-x:hidden;
    }

      h1{font-size:1.2rem; margin-bottom: 30px; margin-left: 10px;}
      
      .notice_table{
        width:100%; height:30px;
        border-bottom: 1px solid #ccc;
      }
    
      .notice_table ul{width:100%; height:100%;}
    
      .notice_table li{float:left; height:100%; font-size:0.9rem;}
      .notice_table li:nth-child(1){width:30%;}
      .notice_table li:nth-child(2){width:20%;}
      .notice_table li:nth-child(3){float:right; width: 50%; text-align: right;}
    
      .notice_content{
        margin-top: 20px; 
        width:100%; height:800px;
        background-color: #f5f6f7;
        text-align: center;
        word-break: keep-all;
        font-size:1rem;
        padding-top: 20px; box-sizing: border-box;
      }

      .img{
        width:120px; height:120px; margin:auto; margin-top: 10px;
        background-image: url(../../../img/image/storeImg01.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
      }

}