/* t_main.css */

#wrap{
  width:100%; height:auto; overflow: hidden;

}

  /* ====================== #headBox ====================== */
  #headBox{
    position: relative;
    width:100%; height:9vw;
    box-shadow:0 0.5rem 0.5rem #ccc;
    padding:10px 30px; box-sizing: border-box;
  }

    .logo{
      float:left;
      margin:auto;
      height:8vw;
      background-color: #333;
    }

    .title{
      height:4vw;
      font-weight: bold;
      font-size:1.5rem;
      line-height: 4vw;
    }

    .unb{
      height:4vw;
      text-align: right;
      font-size:1.2rem;
      line-height:2.5vw;
    }

    .slideBar{
      height:3vw;
      margin-left: 10px;
      border:2px solid #ccc;
      box-sizing: border-box;
      line-height: 2.5vw;
    }




  /* ====================== #viewBox ====================== */
  #viewBox{
    width:100%; height:44vw;
    padding:30px; box-sizing: border-box;
  }

    .deal{
      float:left;
      position: relative;
      width:38%; height:100%;
      border:10px solid #f5f6f7;
      box-sizing: border-box;
      
    }

      .deal_txt{
        position: absolute;
        top:25%; margin: auto;
        width:100%; height:50%;
        text-align: center;
      }

        .deal_title{
          font-size:4rem;
          padding-bottom: 10px;
        }

        .deal_story{
          font-size:2rem;
        }

        .deal_btn{
          position: absolute;
          top:60%; left:0; right:0; margin:auto;
          width:150px; height:50px;
          background-color: #4a96d2;
          color:#fff;
          font-size:1.2rem;
          border-radius: 10px;
        }

    .board{
      float:right;
      width:60%; height:100%;
      border:10px solid #f5f6f7; box-sizing: border-box;
    }

      .user_percent{
        width:100%; height:15px;
        background-color: #4A96D2;
      }

      .board_head{
        width:100%; height:100px;
        border-bottom: 2px solid #aaa;
        box-sizing: border-box;
      }

      .board_tab{
        width:100%; height:80px;
      }

        .board_tab ul{
          width:100%; height:100%;
        }

        .board_tab li{
          float:left; width:20%; height:100%;
          font-size:1.8rem; text-align: center;
          line-height:80px;
        }

      .board_contents{
         width:100%; height:570px;
      }

        #data{
          width:80%; height:200px; 
          margin:auto; font-size:1.4rem;
        }

        

        