/* width: 1281 ~ 1600px (노트북 L 기준) */
@media screen and (min-width: 1281px) and (max-width: 1600px) {

  #wrap{
    width:100%; height:100%;
    padding:70px 30px; box-sizing: border-box;
  }

  /* =================== #headBox ===================*/

  #headBox{ width:90%; height:8vw;}
  .title{font-size:1.2rem;}
  .unb{font-size:1rem;}
  .slideBar{font-size:1.1rem;}

  /* =================== #viewBox ===================*/
  #viewBox{width:90%; height:50vw;}

  /* ========= #board_홈 화면(최상단) ========= */
    .class{width:120px;}
    .class p{margin-top: 20px;}
    .class_t{font-size:3rem;}
    .class_p{font-size:1.1rem; line-height: 80px;}

    .class_ex{font-size:1.1rem;}

  /* ================ 상단탭 ======================= */
  .board_tab{
    width:100%; height:30px;
  }

    .board_tab li{
      line-height:60px;  font-size:1.1rem;
    }

    .board_tab ul > li > dl > dt {line-height: 60px;}

  /* ============ .board_1 : 홈 ============ */

    #graph{
      width:100%; height:400px; margin:10px auto;
    }

    #data{
      width:100%; height:180px;
      margin:auto; 
    }

    #data > thead > tr > td, th{
      font-size:1.1rem; height:30px;
    }

    #data > tbody > tr > td{
      font-size:1rem; height:25px;
    }

  /* ============ .board_2 : 거래내역 ============ */
  /* ============ 거래내역 - 상단 표 ============ */

  .period_date{
    width:600px; height:20px;
    margin-left: 20px;
    margin-top: 40px;
  }

  .period_day{
    float:left; width:auto; height:25px;
  }

  .period_day > input{width:130px; height:25px; font-size:0.8rem; border-radius: 5px;}

  .period_btn{
    float:left; width:70px; height:25px; 
    margin-left: 10px; border-radius: 5px; 
    background-color: #4A96D2; color:#fff;
    font-size:0.9rem;
  }

  .period_content{
    width:600px; height:20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

    .period_content > ul{width:600px; height:100%;}
    .period_content > ul > li{float:left; width:152px; height:100%; border-right:2px solid #ddd; box-sizing: border-box;}
    .period_content > ul > li:last-child{border-right: 0;}
    .period_content > ul > li > dl{width:100%; height:100%;}
    .period_content > ul > li > dl > dt{float:left; width:60px; height:100%; font-size:1rem; font-weight:bold; line-height: 20px; text-align:right;}
    .period_content > ul > li > dl > dd{float:left; width:90px; height:100%; font-size:0.9rem; line-height: 20px; text-align:center;}


  /* ============ 거래내역 - 하단 표 ============ */
    #periodBox{
      width:100%; height:auto; margin:auto; 
    }

      #periodBox > thead > tr > th{font-size:1rem; font-weight: normal; height:25px;}

      #periodBox > tbody > tr > th{font-size:1rem; height:25px;}
      #periodBox > tbody > tr > td{font-size:0.9rem; height:25px;}

    .p_indicator{
      width:180px; height:70px;
      margin:auto; 
    }

    .p_indicator li{font-size:0.9rem; line-height: 70px;}

/* ============ .board_3 : 거래순위 ============ */

.lankBox{
  width:100%; height:auto;
  margin:auto; margin-top: 30px;
}

  .lankBox > thead > tr > th{font-weight: normal; height:20px; font-size:1rem;}
  .lankBox > tbody > tr > td{text-align: center; font-size:0.9rem; border:1px solid #d4d4d4; height:25px;}

.mylankBox{
  width:100%; height:50px;
  margin:auto; margin-top:25px;
}

  .mylankBox > thead > tr > th{font-weight: normal; height:25px; font-size:1rem;}
  .mylankBox > tbody > tr > td{font-weight: normal; height:25px; font-size:0.9rem; border:1px solid #d4d4d4; text-align: center;}


/* ============ .board_4 : 상점 ============ */

  .all_store{
    width:100%; height:auto;
    margin: auto; margin-top:100px;
    padding:0 20px; 
  }

    .all_store li{
      float:left; width:9vw; height:9vw;
      margin-right: 1vw; margin-bottom: 1vw;
      padding-top:2.2vw; line-height: 20px;
    }

/* ============ .board_5 : 나의 정보 ============ */

.profile{ margin-top: 100px;}

  .profile > tbody > tr > th{width:30%; font-size:1rem;}
  .profile > tbody > tr > td{width:70%; font-size:1rem;}

/* =========== 내 정보 - 기본등록정보 - 수정 =========== */
.profile_modify_box{
  display:none;
  width:100%; height:100%;
  margin-top: 80px;
}

  .profile_modify_ul > li{width:100%; height:40px;}
  .profile_modify_ul > li > dl > dt{float:left; width:15%; height:100%; text-align: right;}
  .profile_modify_ul > li > dl > dd{float:left; width:30%; height:100%;}
  .profile_modify_ul > li > dl > dd > input{width:220px; height:30px;}
  .profile_modify_ul > li:nth-child(6) > dl > dd > input{width:220px;}

  .profile_modify_btn{
    float:right; margin-top: 50px; margin-right: 30px;
    width:250px; height:40px; font-size:1rem; color:#fff;
  }

/* =========== 내 정보 - 소명자료요청 =========== */
  .exBox{
    position: relative;
    padding-top: 80px; box-sizing: border-box;
    width:100%; height:100px; margin:auto;
    margin-top: 80px;
  }
}