/* width: 1281 ~ 1600px (노트북 환경 기준) */
@media screen and (min-width: 1281px) and (max-width: 1600px) {

  .slideBar{font-size:1.1rem;}

  .deal_txt{
     margin-top: 8vw;
  }

    .deal_title{
      font-size:3.2rem;
    }

    .deal_story{
      font-size:1.8rem;
    }
    
    .board_tab{
      width:100%; height:40px;
    }

      .board_tab ul{
        width:100%; height:100%;
      }

      .board_tab li{
        float:left; width:20%; height:100%;
        font-size:1.2rem; text-align: center;
        line-height:40px;
      }

      .board_tab li.current span{
        display: inline-block;
        line-height: 30px;
        width:100px; height:40px;
        border-radius: 15px;
        border:3px solid #ccc;
      }


      #tab-1{
        width:100%; height:570px;
     }

     .graph{
       width:50%; margin:10px auto;
     }

       #data{
         width:70%; height:10vw; 
         margin:auto;
       }

       #data > thead > tr > td, th{
         font-size:1rem; text-align: center;
         background-color: #366f9c;
         color:#fff;
       }

       #data > tbody > tr > td{
         font-size:1.2rem; text-align: right;
       }
       
       .td_1{background-color: #f5f6f7;}
}