/* t_main_notice.css */

#wrap{
  width:100%; height:100%;
  background-color: #F8F8F8;
}

h2{font-family:paybooc-B; font-size:12pt;}
.title_line{width:100%; height:3px; background-color: #f5f6f7; margin:20px 0;}

.mob_menuBar{display:none;}
.mob_menu{display:none;}

.visualize-key{display:none;}

/* =================================== #headBox =================================== */
#headBox{
  width:100%; height:100px;
  padding:20px 0; box-sizing: border-box;
  background-color:#fff;
}

  .div{
    width:1400px; height:100%;
    margin:auto;
  }

  h1{
    float:left;
    width:320px; height:60px;
    font-family: paybooc-B;
    margin-top:0;
  }

    .logo{
      float:left;
      width:120px; height:60px;
      background-image: url(../../../img/image/trade_logo.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    h1 > span{
      float:left; 
      font-size:20pt; color:#4A96D2; 
      line-height: 60px; 
    }

  #gnb{
    float:right; 
    width:180px; height:50px; 
    font-family: payBooc-M;
  }

    #gnb ul{width:100%; height:100%;}

    #gnb li{
      float:left; width:90px; height:100%;
      font-size:12pt; text-align: center;
      line-height:60px; 
    }

    #gnb li a {color:#333;}

    #gnb li:last-child a {color:#4A96D2;}

/* =================================== #viewBox =================================== */
#viewBox{
  width:1400px; height:auto;
  margin:auto; margin-top: 30px;
  background-color: #fff;
}

  .mob_notice{display:none;}

  .noticeBox{
    width:100%; height:810px;
    box-shadow:0 0.5rem 1rem #ccc;
    padding:10px 20px; box-sizing: border-box;
  }

    h1{font-size:1.2rem; margin-bottom: 30px; margin-left: 10px;}

    .noticeTable{width:100%; height:auto; border:1px solid #d4d4d4;}
    .noticeTable > thead > tr > th{text-align: center; background-color: #aaa; border:1px solid #d4d4d4;}
    
    .noticeTable > tbody > tr > td{border:1px solid #d4d4d4;}
    .noticeTable > tbody > tr {text-align: center;}
    .noticeTable > tbody > tr > td:nth-child(1){width:10%;}
    .noticeTable > tbody > tr > td:nth-child(2){width:50%; text-align: left;}
    .noticeTable > tbody > tr > td:nth-child(3){width:10%;}
    .noticeTable > tbody > tr > td:nth-child(4){width:10%;}
    .noticeTable > tbody > tr > td:nth-child(5){width:10%;} 
    .noticeTable > tbody > tr > td > a {color:#333;}

    .p_indicator{
      width:270px; height:60px;
      margin:auto; 
    }

      .p_indicator ul{width:100%; height:100%;}
      .p_indicator li{float:left; width:30px; font-size:1rem; line-height: 60px;}

      .p_indicator a{color:#333;}

/* ============================================================================================ */
/* ================================== 공지사항 반응형(1281~1600) ================================== */
/* ============================================================================================ */

@media screen and (min-width: 1281px) and (max-width: 1600px) {

  #wrap{
    width:100%; height:100%;
    padding:90px 30px; box-sizing: border-box;
  }

  /* =================== #headBox ===================*/

  #headBox{ width:90%; height:8vw;}
  .title{font-size:1.2rem;}
  .unb{font-size:1rem;}
  .slideBar{font-size:1.1rem;}

   /* =================== #viewBox ===================*/
   #viewBox{width:90%; height:50vw;}


}

/* ============================================================================================ */
/* ================================== 공지사항 반응형(1024~1280) ================================== */
/* ============================================================================================ */

@media screen and (min-width: 1024px) and (max-width: 1280px) {

  #wrap{
    width:100%; height:100%;
    padding:45px 30px; box-sizing: border-box;
  }

  /* =================== #headBox ===================*/

  #headBox{ width:95%; height:9vw;}
  .logo{height:8vw;}
  .title{
    height:4vw;
    font-weight: bold;
    font-size:1.2rem;
    line-height: 5vw;
  }
  
  .slideBar{height:3vw; font-size:0.9rem;}
  .slideBar > a > span{color:#333; font-size:0.9rem; line-height:10px;}

   .unb{
      font-weight:300;
      height:2vw;
      text-align: right;
      font-size:1rem;
      line-height:1.5vw;

    }

  /* =================== #viewBox ===================*/
  #viewBox{ width: 95%; height:54vw;}
  
  
}

/* ======================================================================================== */
/* ================================== 공지사항 반응형(~1024) ================================== */
/* ======================================================================================== */
@media screen and (max-width: 1024px) {

  #wrap{
    width:100%; height:730px;
    padding:20px 0; box-sizing:border-box;
  }

  .slideBar{display: none;}
  .unb{display:none;}
  /* =================== #headBox ===================*/
  #headBox{
    position: relative;
    width:320px; height:60px;
    padding:5px 10px; box-sizing: border-box;
  }

  .logo{width:50px; height:50px;}
  .title{float:left; width:200px; font-size:14pt; font-weight:600; line-height:50px;}
    
    .mob_icon{
      float:right;
      display:block;
      margin-top: 16px; margin-right:5px; 
      width:24px; height:24px;
      background-image: url(../../../img/icons/mob_user.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .mob_menu{
      position: absolute; z-index:1000;
      top:80%; left:15%; 
      width:250px; height:144px;
      background-color: #fff;
      box-shadow:0 0.5rem 1rem #ccc;
      color:#333;
      font-size:0.9rem;
      padding:20px 10px; box-sizing: border-box;
    }
  /* =================== #slideBox (mob) ===================*/
    #slideBox{
      display:block;
      width:320px; height:40px;
      background-color:#fff;
      border:1px solid #ccc;
      margin:16px auto;
      animation-duration: 3s;
      animation-name: slidein;
      animation-iteration-count: infinite;
    }

    #slideBox > a{color:#333; font-size:1rem; text-align: center; background-color: #fff;}
      
      @keyframes slidein {
        from {
          opacity:0;
        }
      
        to {
         opacity: 1;
       }
      }

  /* =================== #viewBox  ===================*/

  #viewBox{
    width:320px; height:550px; margin-top: 0px;
  }
  
    .noticeBox{
      width:100%; height:100%;
      box-shadow:0 0.5rem 1rem #ccc;
      padding:10px 20px; box-sizing: border-box;
    }
  
      h1{font-size:1.2rem; margin-bottom: 30px; margin-left: 10px;}
      .noticeTable{display:none;}

      .mob_notice{display:block; width:100%; height:400px;}
      .mob_notice > ul{width:100%; height:100%;}
      .mob_notice > ul > li {width:100%; height:80px; padding:10px; box-sizing: border-box;}
      .mob_notice > ul > li:nth-child(odd) {background-color: #eee;}
      .mob_notice > ul > li > a {color:#333;}
      .mob_notice > ul > li > a > dl {width:100%; height:100%;}
      .mob_notice > ul > li > a > dl > dt{width:100%; height:30px; line-height: 40px; margin-left: 8px; font-weight: 500;}
      .mob_notice > ul > li > a > dl > dd{width:100%; height:30px;}
      .mob_notice > ul > li > a > dl > dd > ol{width:100%; height:100%;}
      .mob_notice > ul > li > a > dl > dd > ol > li {float:left; width:50px; height:18px; margin-top: 6px; text-align:center; font-size:0.9rem; border-right:1px solid #aaa; box-sizing: border-box;}
      .mob_notice > ul > li > a > dl > dd > ol > li:nth-child(2){width:80px;}
      .mob_notice > ul > li > a > dl > dd > ol > li:nth-child(3){width:80px; border-right:0;}
      


  
      .p_indicator{
        width:225px; height:30px;
        margin:auto; 
      }
  
        .p_indicator ul{width:100%; height:100%;}
        .p_indicator li{float:left; width:25px; font-size:0.9rem; line-height: 10px;}
  
        .p_indicator a{color:#333;}


}