/* t_main_notice.css */

#wrap{
  width:100%; height:100%;
  background-color: #F8F8F8;
}

h2{font-family:paybooc-B; font-size:12pt;}
.title_line{width:100%; height:3px; background-color: #f5f6f7; margin:20px 0;}

/* =================================== #headBox =================================== */
#headBox{
  width:100%; height:100px;
  padding:20px 0; box-sizing: border-box;
  background-color:#fff;
}

  .div{
    width:1400px; height:100%;
    margin:auto;
  }

  h1{
    width:320px; height:60px;
    font-family: paybooc-B;
    margin:auto; text-align: center;
  }

    .logo{
      float:left;
      width:120px; height:60px;
      background-image: url(../../../img/image/trade_logo.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    h1 > a > span{
      float:left; 
      font-size:20pt; color:#4A96D2; 
      line-height: 60px; 
    }

/* =================================== #viewBox =================================== */
#viewBox{
  width:1400px; height:auto;
  margin:auto; margin-top: 30px;
  background-color: #fff;
}

  .mob_notice{display:none;}

  .noticeBox{
    width:100%; height:810px;
    box-shadow:0 0.5rem 1rem #ccc;
    padding:10px 20px; box-sizing: border-box;
  }

    h1{font-size:1.2rem; margin-bottom: 30px; margin-left: 10px;}

    .noticeTable{width:100%; height:auto; border:1px solid #d4d4d4;}
    .noticeTable > thead > tr > th{text-align: center; background-color: #aaa; border:1px solid #d4d4d4;}
    
    .noticeTable > tbody > tr > td{border:1px solid #d4d4d4;}
    .noticeTable > tbody > tr {text-align: center;}
    .noticeTable > tbody > tr > td:nth-child(1){width:10%;}
    .noticeTable > tbody > tr > td:nth-child(2){width:50%; text-align: left;}
    .noticeTable > tbody > tr > td:nth-child(3){width:10%;}
    .noticeTable > tbody > tr > td:nth-child(4){width:10%;}
    .noticeTable > tbody > tr > td:nth-child(5){width:10%;} 
    .noticeTable > tbody > tr > td > a {color:#333;}

    .p_indicator{
      width:270px; height:60px;
      margin:auto; 
    }

      .p_indicator ul{width:100%; height:100%;}
      .p_indicator li{float:left; width:30px; font-size:1rem; line-height: 60px;}

      .p_indicator a{color:#333;}

/* ============================================================================================ */
/* ================================== 공지사항 반응형(1024~1280) ================================== */
/* ============================================================================================ */

@media screen and (min-width: 1024px) and (max-width: 1280px) {

  #wrap{
    width:100%; height:auto;
  }

  /* =================== #headBox ===================*/

  #headBox{
    height:80px; padding:10px; box-sizing: border-box;}

    .div{
      width:100%; 
    }

    h1{
      float:left;
      width:250px; height:60px;
      font-family: paybooc-B;
      margin-top:0;
    }

      .logo{
        float:left;
        width:80px; height:60px;
        background-image: url(../../../img/image/trade_logo.png);
        background-position: 50% 50%;
        background-size: 90%;
        background-repeat: no-repeat;
      }

      h1 > a >span{
        float:right; 
        font-size:16pt; color:#4A96D2; 
        line-height: 60px; 
      }

  /* =================== #viewBox ===================*/
  #viewBox{ width: 95%; height:54vw;}
  
  
}

/* ======================================================================================== */
/* ================================== 공지사항 반응형(641~1024) =============================== */
/* ======================================================================================== */
@media screen and (min-width: 641px) and (max-width: 1024px) {

  #wrap{
    width:100%; height:auto;
  }

  .slideBar{display: none;}
  .unb{display:none;}
  /* =================== #headBox ===================*/
  /* =================== #headBox ===================*/
  #headBox{
    width:100%; height:80px;
    padding:20px; box-sizing: border-box;
    margin:auto;
  }

    .div{
      width:100%; 
    } 

    h1{
      float:left;
      width:180px; height:40px;
      font-family: paybooc-B;
      margin:auto;
    }

      .logo{
        float:left;
        width:60px; height:40px;
        background-image: url(../../../img/image/trade_logo.png);
        background-position: 50% 50%;
        background-size: 70%;
        background-repeat: no-repeat;
      }

      h1 > a > span{
        display:inline-block;
        width:120px;
        font-size:12pt; color:#4A96D2; 
        line-height: 40px; 
      }

  /* =================== #viewBox  ===================*/
  #viewBox{ width: 95%; height:54vw;}



}

/* ======================================================================================== */
/* ================================== 공지사항 반응형(~640px) =============================== */
/* ======================================================================================== */
@media screen and (max-width: 640px) {

  #wrap{height:auto;}

  #headBox{
    width:100%; height:56px;
    padding:5px 20px; box-sizing: border-box;
    margin:auto;
  }

    .div{
      width:100%; 
    } 

    #gnb{display:none;}

    h1{
      float:100%;
      width:250px; height:30px; margin:auto;
      font-family: paybooc-B;
    }

      .logo{
        float:left;
        width:50px; height:50px;
        background-image: url(../../../img/image/trade_logo.png);
        background-position: 50% 50%;
        background-size: 100%;
        background-repeat: no-repeat;
      }

      h1 > a > span{
        font-size:12pt; color:#4A96D2; 
        line-height: 50px; margin-left: 10px;
      }

  /* =================== #viewBox  ===================*/

  #viewBox{
    width:100%; height:600px; margin-top: 10px;
  }
  
    .noticeBox{
      width:100%; height:100%;
      box-shadow:0 0.5rem 1rem #ccc;
      padding:10px 20px; box-sizing: border-box;
    }
  
      h1{font-size:1.2rem; margin-bottom: 30px; margin-left: 10px;}
      .noticeTable{display:none;}

      .mob_notice{display:block; width:100%; height:400px;}
      .mob_notice > ul{width:100%; height:100%;}
      .mob_notice > ul > li {width:100%; height:80px; padding:10px; box-sizing: border-box;}
      .mob_notice > ul > li:nth-child(odd) {background-color: #eee;}
      .mob_notice > ul > li > a {color:#333;}
      .mob_notice > ul > li > a > dl {width:100%; height:100%;}
      .mob_notice > ul > li > a > dl > dt{width:100%; height:30px; line-height: 40px; margin-left: 8px; font-weight: 500;}
      .mob_notice > ul > li > a > dl > dd{width:100%; height:30px;}
      .mob_notice > ul > li > a > dl > dd > ol{width:100%; height:100%;}
      .mob_notice > ul > li > a > dl > dd > ol > li {float:left; width:50px; height:18px; margin-top: 6px; text-align:center; font-size:0.9rem; border-right:1px solid #aaa; box-sizing: border-box;}
      .mob_notice > ul > li > a > dl > dd > ol > li:nth-child(2){width:80px;}
      .mob_notice > ul > li > a > dl > dd > ol > li:nth-child(3){width:80px; border-right:0;}
      


  
      .p_indicator{
        width:225px; height:30px;
        margin:auto; 
      }
  
        .p_indicator ul{width:100%; height:100%;}
        .p_indicator li{float:left; width:25px; font-size:0.9rem; line-height: 10px;}
  
        .p_indicator a{color:#333;}

}