/* width: 1081 ~ 1280px (태블릿 환경 기준) */
@media screen and (min-width: 1081px) and (max-width: 1280px) {

  /* =================== #headBox ===================*/

  #headBox{height:8vw;}
  .title{font-size:1.2rem;}
  .unb{font-size:1.1rem;}
  .slideBar{font-size:0.9rem;}

  /* =================== #viewBox ===================*/
  /* ============= deal(좌) 화면 ============== */

  .deal{
    height:500px;
  }

  /* ============= board(우) 화면 ============== */
  .board{
      height:500px;
    }

    .class_ex{
      float:left; height:80px;
      font-size:1.2rem;
      margin-top: 25px;
    }

      .class_ex p{
        line-height: 15px;
      }

      .board_tab{
        width:100%; height:30px;
      }
    
         .board_tab ul{
          width:100%; height:100%;
        }
    
        .board_tab li{
          float:left; width:20%; height:100%;
          font-size:1.2rem; text-align: center;
          line-height:40px;
        }
    
        .board_tab li.current span{
          display: inline-block;
          line-height: 35px;
          width:100px; height:40px;
          border-radius: 15px;
          border:2px solid #ccc;
        }
    
    .graph{
      width:40%; height:150px; margin:10px auto;
    }

    #myChart{
      width:100px; height:100px;
    }
        
    #data{ width:90%; height:5vw; }
        
      #data > thead > tr > td, th{font-size:0.9rem; }
      #data > tbody > tr > td{font-size:0.8rem; }

  /* ========= #board_tab(상단 탭) ========= */

  .board_tab{
    width:100%; height:40px;
  }

    .board_tab ul{
      width:100%; height:100%;
    }

    .board_tab li{
      float:left; width:20%; height:100%;
      font-size:1.2rem; text-align: center;
      line-height:40px; 
    }

    .board_tab li.current span{
      display: inline-block;
      line-height: 30px;
      width:100px; height:40px;
      border-radius:0; border:0;
      border-bottom:3px solid #425067;
    }
 /* ========= #side_tab(하단 탭)_1 ========= */

  .side_tab_box{
    margin-left: 20px;
    width:auto; height:30px;
  }

    .side_tab_box li{
      float:left; width:60px; 
      font-size:1rem; line-height: 20px;
    }

 /* ========= #side_tab(하단 탭)_2 ========= */

  .side_tab_lank_box{
    margin-left: 20px;
    width:auto; height:30px;
  }

    .side_tab_lank_box li{
      float:left; width:60px; 
      font-size:1rem; line-height: 20px;
    }

 /* ========= #side_tab(하단 탭)_3 ========= */

 .side_tab_store_box{
  margin-left: 20px;
  width:auto; height:30px;
}

  .side_tab_store_box li{
    float:left; width:60px; 
    font-size:1rem; line-height: 20px;
  } 
 /* ========= #side_tab(하단 탭)_4 ========= */

 .side_tab_myinfo_box{
  margin-left: 20px;
  width:auto; height:30px;
}

  .side_tab_myinfo_box li{
    float:left; width:100px; 
    font-size:1rem; line-height: 20px;
  }

  /* ============ .board_2 : 거래내역 ============ */
  .period_content{
    width:500px; height:40px;
    margin-top: 10px; margin-left: 20px;
    margin-bottom: 5px; font-size:0.9rem;
  }
      .period_content dt{height:20px; font-size:0.9rem;}
      .period_content dd{height:20px; font-size:0.8rem;}


  #periodBox{
    width:90%; height:100px;
    margin:auto;
    margin-top: 10px;
  }

    #periodBox > thead > tr > th{font-size:0.8rem;}

    #periodBox > tbody > tr > th{font-size:0.8rem;}
    #periodBox > tbody > tr > td{font-size:0.7rem;}

  .p_indicator{height:5px;}

    .p_indicator >.pagination li{font-size:0.8rem;}

/* ============ .board_3 : 거래순위 ============ */

  .lankBox{
    width:90%; height:100px;
    margin-top: 20px; margin-bottom: 10px;
  }

    .lankBox > tbody > tr > td{text-align: center; font-size:1rem;}
    .lankBox > tbody > tr:first-child{background-color: #ddd;}
    .lankBox > tbody > tr:nth-child(3), tr:nth-child(5){background-color: #f5f6f7;}

  .lank_indicator{
    width:180px; height:10px; 
    margin:auto; margin-bottom: 20px;
  }

    .lank_indicator ul{width:100%; height:100%;}
    .lank_indicator li{width:20px; font-size:0.9rem; line-height: 15px;}

/* ============ .board_4 : 상점 ============ */

  .all_store{
    width:90%; height:100%;
    margin: auto; margin-top: 20px;
  }

    .all_store li{
      float:left; width:100px; height:100px;
      margin-right: 20px; margin-bottom: 20px;
      padding-top:25px;
      border:3px solid #ccc; line-height: 10px;
    }

    .all_store li:nth-child(5), li:nth-child(6), li:nth-child(7){padding-top: 30px;}
    .all_store li:nth-child(8){padding-top: 40px;}

    .conven_store li{padding-top:30px;}
    .conven_store li:last-child{padding-top:40px;}

/* ============ .board_5 : 나의 정보 ============ */

    .profile{
      width:70%; height:90%;
      margin:auto; margin-top: 30px;
    }

    .exBox{
      width:90%; height:100px; margin:auto;
      margin-top: 50px; 
      padding:10px 25px; box-sizing: border-box;
      position: relative;
    }
      .ex_id{
        float:left; width:20%; height:60px;
        line-height: 80px; font-size:1rem;
        text-align: center; border-bottom:2px solid #f5f6f7;
        }

      .ex_date{
        width:100%; height:60px;
        line-height: 80px; font-size:1rem;
        margin:auto;
      }

        .ex_date > span{float:left; margin-left: 40px;}
        .ex_input_date{float:right;}
        .ex_input_date > input{width:130px; font-size:0.9rem; }

      .ex_btn{
        position: absolute;
        left:0; right:0;
        width:100px; height:35px;
        margin:auto; margin-top: 20px; background-color: #4998D3;
        color:#fff; font-size:1rem;
        transition:transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
        box-shadow:0 4px 6px #36709c;
        border-radius: 15px;
      }    
}