/* width: 640 ~ 1080px(Mob L 기준) */
@media screen and (min-width: 640px) and (max-width: 1080px) {

  /* =====#headBox===== */

  #headBox{
    height:100px;
  }

    .logo{
      width:80px; height:80px;
    }

    .title{float:left; width:450px; margin-left: 10px;}

    .unb{
      display:none;
    }
    
    .mob_icon{
      float:right;
      display:block;
      margin-top:15px;
      width:50px; height:50px;
      background-image: url(../../../img/icons/user.png);
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .slideBar{
      float:left;
      margin-top: 5px; 
      margin-left:20px;
      width:50vw;
      font-size:0.8rem;
    }

  /* ===== #viewBox -- .deal ===== */

  #viewBox{
    height:auto;
  }

  .deal{
    float:none; margin:auto;
    width:50vw; height:500px; margin-bottom: 25px;}

  .deal_txt{
     margin-top: 10vw;
  }

    .deal_title{
      font-size:2rem;
    }

    .deal_story{
      font-size:1.2rem;
    }

    .deal_btn{
      width:120px; height:40px;
      background-color: #4a96d2;
      border-radius: 10px;
    }

      .deal_btn > a > span{
        line-height:35px;
        color:#fff; font-size:1rem;}

  /* ===== #viewBox -- .board ===== */
  .board{width:100%; height:100vw; margin-bottom: 25px;}

  .class{
    float:left;
    width:160px; height:80px;}
  
    .class p{
      margin:0; padding:0;
      margin-left: 20px;
    }

    .class_t{
      float:left;
      font-size:4rem;
      
    }

    .class_p{
      font-size:1.5rem;
      line-height:110px;
    }

  .class_ex{
    float:left; height:80px;
    font-size:1.1rem;
    margin-top: 20px;
  }

    .class_ex p{
      line-height: 20px;
    }

    .class_ex p span{
      font-weight: bold;
    }



.board_tab{
  width:100%; height:80px;
}

  .board_tab ul{
    width:100%; height:100%;
  }

  .board_tab li{
    float:left; width:20%; height:100%;
    font-size:1.2rem; text-align: center;
    line-height:40px;
  }

  .board_tab li.current span{
    display: inline-block;
    line-height: 30px;
    width:100px; height:40px;
    border-radius: 20px;
    border:3px solid #ccc;
  }

  .tab-content{
    display:none;
  }

  .tab-content.current{
    display:inherit;
  }