/* t_main.css */

#wrap{
  width:100%; height:auto;
  padding:50px; box-sizing: border-box;
  background-color: #fbfbfb;
}

.mob_menu{display:none;}

.visualize-key{display:none;}

/* =================================== #headBox =================================== */
  #headBox{
    width:80%; height:7vw;
    margin:auto;
    box-shadow:0 0.5rem 1rem #ccc;
    padding:5px 30px; box-sizing: border-box;
  }

    .logo{
      float:left;
      margin:auto;
      height:6vw;
      background-image: url(../../../img/image/trade_logo.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 90%;
    }

    .title{
      height:3vw;
      font-weight: bold;
      font-size:1.5rem;
      line-height: 3.5vw;
    }

    .mob_icon{display:none;}

    .slideBar{
      float:left;
      height:3vw;
      margin-left: 10px;
      border:2px solid #ccc;
      box-sizing: border-box;
      line-height: 3vw;
      font-size:1.2rem;
      animation-duration: 3s;
      animation-name: slidein;
      animation-iteration-count: infinite;
    }

    .slideBar_act{color:#4A96D2; font-weight: bold;}
    
    @keyframes slidein {
      from {
        opacity:0;
      }
    
      to {
       opacity: 1;
     }
    }

  .mob_slideBar{display:none;}

    .unb{
      color:#333;
      font-weight:300;
      height:3vw;
      text-align: right;
      font-size:1.2rem;
      line-height:1.5vw;

    }

    .unb_bold{font-weight:bold;}
    .unb_act{font-weight:bold; color:#4A96D2;}


/* ================================== #noticeBox =================================== */
#noticeBox{
  width:80%; height:200px;
  margin:auto; margin-top: 30px;
  box-shadow:0 0.5rem 1rem #ccc;
}


/* =================================== #viewBox =================================== */
  #viewBox{
    width:80%; height:700px;
    margin:auto; margin-top: 30px;
  }

  /* ============ .deal ============ */
    .deal{
      float:left;
      width:30%; height:100%;
      box-shadow:0 0.5rem 1rem #ccc;
      
    }
    /* ============ .board ============ */
    .board{
      float:right;
      width:67%; height:100%;
      box-shadow:0 0.5rem 1rem #ccc; 
    }

      .user_percent{
        width:100%; height:20px;
        background-color: #4A96D2;
        animation:load 3s normal forwards;
      }

      @keyframes load{
        0% {width:0;}
        100% {width:58%;}
      }

      .board_head{
        width:100%; height:100px;
        background: rgba(70, 148, 209, 0.1);
      }

        .class{
          float:left;
          width:160px; height:80px;}
        
          .class p{
            margin:0; padding:0;
            margin-top: 10px;
            margin-left: 20px;
          }

          .class_t{
            float:left;
            font-size:4rem;
            font-weight: bold;
          }

          .class_p{
            font-size:1.2rem;
            line-height:110px;
          }

        .class_ex{
          float:left; height:60px;
          font-size:1.3rem;
          margin-top: 25px;
        }

          .class_ex p{
            line-height: 20px;
          }

          .class_ex p span{
            font-weight: bold;
          }

      .graph{
        width:60%; margin:20px auto;
      }

        #data{
          width:100%; height:180px;
          margin:auto; font-size:1.4rem;
        }

        #data > thead > tr > td, th{
          text-align: center;
          background-color: #aaa;
          color:#000;
          border:1px solid #D4D4D4;
          font-size:1.2rem; height:30px;
          font-weight: normal;
        }

        #data > tbody > tr > td{
          font-size:1.1rem; text-align: right; border:1px solid #D4D4D4; height:30px;
        }
        
        .td_1{background-color: #eee; }

/* ================ tab Box 기능 구현 ======================= */
      /* ================ 상단탭 ======================= */
      .board_tab{
        width:100%; height:60px;
      }

        .board_tab ul{
          width:100%; height:100%;
        }

        .board_tab li{
          float:left; width:20%; height:100%;
          font-size:1.2rem; text-align: center;
          line-height:60px; /*overflow:hidden;*/
        }

        .board_tab li > dl {width:100%; height:auto;}
        .board_tab ul > li > dl > dt {line-height: 60px; font-weight: 400; color:#333;}
        .board_tab li.current dt{color:#366f9c; font-weight: 500;}

        .board_tab > ul > li > dl > dd{
          display:none;
          position: relative; z-index: 1000;
          width:100px; height:30px;
          margin:auto;
          font-size: 1rem; line-height: 30px;
          background-color: #fff;
          border:1px solid #ccc;
        }

        .board_tab > ul > li:last-child > dl > dd{width:120px;}

        .board_tab > ul > li > dl > dd.current{
          background-color:#4A96D2; color:#fff; 
        }

        .tab-content{
          display:none;
          padding:20px; box-sizing: border-box;
          padding-top: 0;
        }

        .tab-content.current{
          display:inherit;
        }

/* ================ //tab Box 기능 구현 ===================== */
    
  /* ============ .board_2 : 거래내역 ============ */
  /* ======= 거래 수/ 거래금액 / 수수료 표 ======= */

    .side_tab_content{
      display:none;
    }

    .side_tab_content.current{
      display:inherit;
    }

    .period_content{
      float:right;
      width:300px; height:50px;
      margin-top: 25px;
      margin-bottom: 25px;
    }

      .period_content > ul{width:100%; height:100%;}
      .period_content > ul > li{width:100px; height:100%; border-right:2px solid #ddd; box-sizing: border-box;}
      .period_content > ul > li:last-child{border-right: 0;}
      .period_content > ul > li > dl{width:100%; height:100%;}
      .period_content > ul > li > dl > dt{width:100%; height:25px; font-size:1rem; border-bottom:2px solid #ddd; box-sizing: border-box; font-weight:bold; line-height: 15px;}
      .period_content > ul > li > dl > dd{width:100%; height:25px; font-size:0.9rem;}

  /* ======= 거래내역 표 ======= */
    #periodBox{
      width:100%; height:340px; margin:auto;
    }

      #periodBox > thead > tr > th{font-size:1.1rem; font-weight: normal; height:30px;}
        .p_th_title{width:10%;}
        .p_th_title_1{width:10%;}
        .p_th_title_2{width:10%;}
        .p_th_title_3{width:25%;}
        .p_th_title_4{width:15%;}

      #periodBox > tbody > tr > th{font-size:1.1rem; font-weight: normal;}
      #periodBox > tbody > tr > td{font-size:1rem; font-weight: normal; text-align: center; border:1px solid #D4D4D4;}
      #periodBox > tbody > tr > td:nth-child(4){text-align: right; padding-right:10px; box-sizing: border-box;}

    .p_indicator{
      width:180px; height:60px;
      margin:auto; 
    }

    .p_indicator ul{width:100%; height:100%}
    .p_indicator li{width:20px; font-size:1rem; line-height: 60px;}

    /* 어디서 오류난지 모르겠음 */
    .p_indicator li:nth-child(6){padding:0;}
    .p_indicator li:nth-child(7){padding:0;}

    .p_indicator a{color:#333;}

  /* ============ .board_3 : 거래순위 ============ */

  .side_tab_content_lank{
    display:none;
  }

  .side_tab_content_lank.current{
    display:inherit;
  }

    .lankBox{
      width:100%; height:auto;
      margin:auto; margin-top: 25px;
    }

      .lankBox > thead > tr > th{font-weight: normal; height:30px; font-size:1.1rem;}
      .lankBox > tbody > tr > td{text-align: center; font-size:1rem; border:1px solid #d4d4d4; height:30px;}
      .lankBox > tbody > tr:first-child{background-color: #ddd;}
      .lankBox > tbody > tr:nth-child(2){background-color: #eee;}
      .lankBox > tbody > tr:nth-child(3){background-color: #f5f6f7;}

    .lank_indicator{
      width:180px; height:30px;
      margin:auto; margin-bottom: 20px;
    }

      .lank_indicator ul{width:100%; height:100%;}
      .lank_indicator li{
        width:20px; font-size:1rem; line-height: 30px;
      }

      /* 어디서 오류난지 모르겠음 */
      .lank_indicator li:nth-child(6){padding:0;}
      .lank_indicator li:nth-child(7){padding:0;}

      .lank_indicator a{color:#333;}

    .mylankBox{
      width:100%; height:60px;
      margin:auto; margin-top:50px;
    }

      .mylankBox > thead > tr > th{font-weight: normal; height:30px; font-size:1.1rem;}
      .mylankBox > tbody > tr > td{font-weight: normal; height:30px; font-size:1rem; border:1px solid #d4d4d4; font-size:1rem; text-align: center;}


  /* ============ .board_4 : 상점 ============ */

  .side_tab_content_store{
    display:none;
  }

  .side_tab_content_store.current{
    display:inherit;
  }

    .all_store{
      width:100%; height:auto;
      margin: auto; margin-top:70px;
      padding:0 40px; 
    }

      .all_store ul{
        width:100%; height:100%;
      }

      .all_store li{
        float:left; width:160px; height:160px;
        margin-right: 12px; margin-bottom: 12px;
        padding-top:36px;
        border:3px solid #ccc; line-height: 20px;
      }

      .all_store li:nth-child(5), li:nth-child(6), li:nth-child(7){padding-top: 50px;}
      .all_store li:nth-child(8){padding-top: 65px;}

      .conven_store li{padding-top:50px;}
      .conven_store li:last-child{padding-top:65px;}

    .store_modal{
      position: relative;
      margin:auto; z-index:1000;
      width:100%; height:100%; background:rgba(66, 80, 103, 0.9);
      padding:2vw; box-sizing: border-box;
      display:none;
    }

      .store_modal_content{
        position: absolute;
        width:90%; height:auto;
        color:#fff;}
      
        .store_modal_title{font-size:2rem;}
        .store_modal_ex{font-size:1rem;}

      .store_modal > button{
        position: absolute; z-index:1001;
        top:5%; right:3%;
        background-color: transparent;
        color:#fff; font-size:2rem;
      }

    


  /* ============ .board_5 : 나의 정보 ============ */

  .side_tab_content_myinfo{
    display:none;
  }

  .side_tab_content_myinfo.current{
    display:inherit;
  }

  .side_tab_content_myinfo{
    width:100%; height:100%; padding-top: 80px; box-sizing: border-box;}

    .profile{
      width:100%; height:auto;
      margin:auto; 
    }

      .profile > tbody > tr {height:40px;}
      .profile > tbody > tr > th{width:30%; font-weight: normal; background-color: #eee; font-size:1.1rem;}
      .profile > tbody > tr > td{width:70%; font-size:1rem; padding-left:10px; border:1px solid #D4D4D4;}

      .profile_btn{width:164px; height:40px; float:right; margin-top: 20px;}

      .profile_btn > button{
        width:80px; height:32px;
        border-radius: 5px; color:#fff; font-size:1rem;
      }

      .profile_cert{float:left; height:100%; background-color: #4A96D2;}
      .profile_modify{float:right; height:100%; background-color: #ae0000;}
    
    .exBox{
      position: relative;
      padding-top: 40px; box-sizing: border-box;
      width:100%; height:100px; margin:auto;
    }

      .ex_date{
        width:500px; height:80px;
        line-height: 80px; font-size:1.3rem;
        margin:auto;
      }

        .ex_date > span{float:left; margin-left: 50px;}
        .ex_input_date{float:right;}
        .ex_input_date > input{width:150px; font-size:1rem; }

      .ex_btn{
        position: absolute;
        left:0; right:0;
        width:120px; height:40px;
        margin:auto; margin-top: 20px; background-color: #4998D3;
        color:#fff; font-size:1.2rem;
        transition:transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
        box-shadow:0 4px 6px #36709c;
        border-radius: 15px;
      }

