/* t_matching.css */

#wrap{
  width:100%; height:100%;
  padding:50px 0; box-sizing: border-box;
}

  .rq_title{
    width:100%; text-align: center;
    font-size:1.3rem;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .br{height:10px;}

  .rq_con{font-size:1.1rem; font-weight: 300;}

  /* ---------- user_list ------------ */
  .user_list{
    width:100%; height:140px; margin-top: 10px;
    padding:10px 20px; box-sizing: border-box;
  }

  .user_list > ul {width:100%; height:100%;}
  .user_list > ul > li {width:100%; height:35px;}

  .user_list > ul > li > dl {width:100%; height:100%; line-height: 40px;}
  .user_list > ul > li > dl > dt {float:left; width:40%; height:100%; padding-left: 20px; box-sizing: border-box; color:#333;}
  .user_list > ul > li > dl > dd {float:right; width:60%; height:100%; text-align:right; padding-right: 20px; box-sizing: border-box;}

  .line{width:80%; height:1px; margin:auto; background-color: #ACACAC;}
  /* ---------- info_list ------------ */
  .info_list{
    width:100%; height:160px;
    padding:20px; box-sizing: border-box;
  }

  .info_list > ul {width:100%; height:100%;}
  .info_list > ul > li {width:100%; height:35px;}

  .info_list > ul > li > dl {width:100%; height:100%; line-height: 40px;}
  .info_list > ul > li > dl > dt {float:left; width:40%; height:100%; padding-left: 20px; box-sizing: border-box; color:#333;}
  .info_list > ul > li > dl > dd {float:right; width:60%; height:100%; text-align:right; padding-right: 20px; box-sizing: border-box;}

  .accentDd{color:#4694D1;}


  .mc_wait{width:100%; height:auto; margin-top: 35px; text-align: center;}
  .mc_wait > p{font-size:1.3rem;}
  #timer{color:#333; font-weight: bold; font-size:1.3rem;}

  .mc_btn{
    width:200px; height:40px;
    margin:auto; margin-top: 50px;
  }

    .mc_btn > button{
      width:200px; height:40px;
      border-radius: 5px;
      font-size:1rem; color:#fff;
      transition:transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
    }

    .yes{
      float:right; background-color: #4998D3;
      box-shadow:0 4px 6px #36709c;
    }

    .mc_btn > button > a{
      line-height: 40px; text-align: center;
    }

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- 반응형 -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
@media screen and (max-width: 320px) {
  #wrap{padding:30px 0; box-sizing: border-box;}

    .rq_title{margin-bottom: 10px;}
    .br{height:5px;}

    .mc_wait{margin-top: 20px;}
    .mc_wait > p{font-size:1.2rem;}
    #timer{font-size:1.2rem;}

    .mc_btn{
      width:100px; height:35px;
      margin:auto; margin-top: 20px;
    }
  
      .mc_btn > button{
        width:100px; height:35px;
        font-size:0.9rem;
      }
  
      .mc_btn > button > a{
        line-height: 35px; text-align: center;
      }

    
    
}
