/* t_find_idpw.css */

#wrap {
  position: fixed;
  top:0; right:0; left:0; bottom:0;
  width: 500px; height:700px;
  margin:auto;
  padding:50px; box-sizing: border-box;
  border:10px solid #f5f6f7;
}

h1{
  text-align: center; margin-bottom:40px;
  font-size:1.8rem; margin-top: 80px;
}

/* ----- id_find_tab ------------------------ */

.id_find_tab{
  width:100%; height:30px;
  line-height: 30px;
  margin:20px 0 10px 0;
  color:#333; font-weight: 700;
  margin-top: 50px;
}

.id_find_result{
  text-align: center;
  width:100%; height:240px;
  padding-top: 80px; box-sizing: border-box;
}

  .id_find_result > p{
    font-size:1.5rem;
  }

  .id_find_result > p > span{
    font-weight: 500; color:#16325F;
  }

.btn{width:250px; height:40px; margin:auto; margin-top: 100px; }

  button{
    width:120px; height:40px; border-radius: 4px;
    background-color: #4694D1; color:#fff;
  }

  .no{float:left; background-color: #9F9F9F;}
  .yes{float:right;}

  button > a {line-height: 40px;}


/*  ============================================ 반응형 ============================================ */
/* width: 0 ~ 639px (모바일 환경 기준) */
@media screen and (max-width: 639px) {

  #wrap{
    position: static;
    width:100%; height:100%;}


    .id_find_result > p{
      font-size:1.3rem;
    }

}