/* t_join_check.css */

#wrap {
	width:100%; height:100%;
	color:#333;
	padding:40px 0; 
}

h1{
  text-align: center; margin-bottom:56px;
}

 .joinBox {
	width: 582px; height:auto;
  margin:auto;
  padding:5rem 2rem; box-sizing: border-box;
  border:10px solid #f5f6f7;
 }

 .joinBox > form,
 .joinBox fieldset { width: 100%; height:auto; }

.user_set {	 margin-bottom: 38px; }
.user_info { margin-bottom: 18px;}
.user_certi { margin-bottom:30px; }




.joinBox dl {
	width: 100%; height:auto; min-height: 78px;
	margin-bottom: 16px;
}
.joinBox dl:last-of-type{
	margin-bottom: 0;
}

.joinBox dl.error .end_icon,
.joinBox dl.error .confirm_text{display:block;	color:#ae0000; }

.joinBox dl.success .end_icon,
.joinBox dl.success .confirm_text {display:block;	color:#4a98d3; }

.joinBox dl.success .input_area{border:2px solid #4a98d3;}

.joinBox dt{ 
	width: 100%; height: 18px; margin-bottom: 10px; 
	font-size:1rem;
	text-indent:0.2rem;
}
.input_area{ 
	position: relative;
	width: 100%; height: 50px; 
	background-color: #fff;
	padding-right: 10px;
	border:1px solid #dadada;
	box-sizing: border-box;
}

.input_area.error strong>span {	
	display:inline-block; color:#ae0000;
}

.input_area div {
	float:left;
	padding:10px; box-sizing: border-box;
	width: 100%; height: 100%;
}

.user_set .input_area div {	width: 70%; }

.birth .input_area {
	border:0;
	background-color: transparent;
}

.birth .input_area div {
	float:left; 
	width:30%; 
	margin-right:5%;
	background-color: #fff;
	border:1px solid #dadada;
}

.birth .input_area div:last-of-type {
	margin-right:0;
}

.user_certi .input_area {
	margin-bottom:10px;
}
.user_certi .input_area:last-of-type{
	margin-bottom: 0;
}

.confirm_send .input_area{
	width:280px; height:60px;
	margin:auto; margin-top: 50px;
	padding-right: 0;
}

.confirm_send .input_area input{
	cursor: pointer;
	background-color: #4a98d3;
	color:#fff;
	font-size:1.2rem;
	border-radius:0;
}

.input_area input,
.input_area select{
	display: block;
	width:100%;  height: 100%;
	box-sizing: border-box;
	border:0;
	border-radius:0.2rem;
}

.input_area input:focus,
.input_area select:focus{
	border:2px solid #333;
}

.end_icon {
	float:right;
	padding-top:12px;
	color:inherit;
}
.end_icon i{
	margin-left:0.5rem;
	color:inherit;
}

.end_icon i{
	display:none;
}

/* ----------------------- */

.confirm_text {
	display: none;
	margin-top: 5px;
	width: 100%; height:25px;
	font-size:0.875rem;
	line-height: 15px;
	color:#777;
	word-break:keep-all;
}
/*  ============================================ 반응형 ============================================ */
/* width: 0 ~ 639px (모바일 환경 기준) */
@media screen and (max-width: 639px) {

	#wrap{padding:0;}

	.joinBox {
		width: 100%; height:auto;
		margin:auto;
		padding:3rem 1rem; box-sizing: border-box;
		border:10px solid #f5f6f7;
	 }

	 .confirm_send .input_area{
		width:200px; height:50px;
		margin:auto; margin-top: 50px;
		padding-right: 0;
	}

		.confirm_send .input_area input{
			font-size:1.1rem;
	}


}

